#contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h2 {
	margin-top: 2rem;
}

#contact-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	height: 60%;
	width: 50%;
	/* padding-top: 1rem; */
}

.contact-input {
	background: transparent;
	height: 10%;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}

.contact-input-msg {
	background: transparent;
	margin-top: 1.5%;
	height: 30%;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}

.contact-input,
::placeholder {
	font-size: 17px;
	color: black;
}

.contact-input-msg,
::placeholder {
	font-size: 17px;
	color: black;
}

.btn {
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 15px;
	text-decoration-line: none;
	background-color: black;
	border: none;
	width: 8rem;
	align-self: center;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	transition: 0.6s;
}
footer {
	background-color: #151623;
	color: white;
	height: 20%;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	align-items: center;
}

footer.logo {
	grid-column: 1/2;
}

footer.links {
	grid-column: 2/3;
}

.soc-p {
	padding: 1rem;
}

div a {
	text-decoration: none;
	color: white;
	padding: 1rem;
}
