* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Marcellus", sans-serif;
}

h1 {
	font-size: 6rem;
	padding-bottom: 2rem;
}

#home {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.3)
		),
		url(/images/simon-berger-twukN12EN7c-unsplash.jpg);
	/* background-image: url(/images/simon-berger-twukN12EN7c-unsplash.jpg); */
	background-size: cover;
	height: 100vh;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar {
	background-color: #151623;
	height: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}

nav ul a {
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.intro {
	width: 65%;
	padding-bottom: 2rem;
}
